:root{
    --body: rgba(240, 240, 240, 1);
    --pri-color : rgba(51, 51, 51, 1);
    --nav-color-hov : rgba(255, 152, 0, 1);
    --pri-color2 : rgba(66, 66, 66, 1);
    --pri-color3 : rgba(255, 255, 255, 1);
    --sec-color : rgba(4, 47, 190, 1);
    --sec-color2 : rgba(102, 102, 102, 1);
    --white-var : rgba(246, 246, 246, 1);
    --sec-color4 : rgba(0, 21, 165, 1);
    --sec-color5 : rgba(21, 112, 239, 1);
    --log-color6 : rgba(152, 162, 179, 1);
    --foot-col: rgba(142, 163, 235, 1);
    --fot-col2: rgba(207, 211, 215, 1);
    --foot-col3: rgba(58, 134, 255, 1);
    --sec-color3 : rgba(56, 122, 231, 1);
    --pri-bg-col: rgba(0, 0, 89, 1);
    --pri-bg-col2: rgba(142, 163, 235, 0.24);
    --log-bg: rgba(209, 233, 255, 1);
    --pri-bg-col3: rgba(217, 217, 217, 1);
    --sec-bg-col: rgba(204, 204, 204, 1);
    --rat-bg-col2: rgba(236, 236, 236, 1);
    --gray-col: rgba(128, 128, 128, 1);
    --gray-chat: rgba(224, 224, 224, 1);
    --pri-icon-col: rgba(41, 45, 50, 1);
    --calendar: rgba(26, 26, 26, 1);
    --dark: rgba(0, 0, 0, 1);
    --gold-col: rgba(251, 192, 45, 1);
    --gold-2: rgba(236, 186, 11, 1);
    --light-gold: rgba(225, 166, 20, 1);
    --red-col: rgba(255, 0, 0, 1);
    --logo--col: rgba(52, 90, 220, 1);
    --btn-col: rgba(13, 0, 255, 1);
    --btn-col-hov: rgba(0, 0, 114, 1);
    --btn-dark: rgba(17, 0, 6, 1);
    --like-col: rgba(29, 72, 216, 1);
    --success: rgba(76, 175, 80, 1);
    --cancel: rgba(244, 67, 54, 1);
    --bg-red-col: rgba(220, 87, 87, 1);
    --pending: rgba(255, 183, 77, 1);
    --blue-fade: rgba(7, 91, 218, 1);
    --trans2: .4s ease-in-out;
    interpolate-size: allow-keywords;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: var(--white-var);
    color: var(--pri-color);
    font-family: "Inter", sans-serif;;
}

header {
    background-color: var(--pri-color3);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    z-index: 500;
}
.logo {
    display: flex;
    align-items: center;
    gap: 2px;
}
.logo svg {
    width: 30px;
}
.logo h2 {
    font-size: 19px;
    color: var(--like-col);
}
.sign-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.owner-summary {
    background-color: var(--white-var);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    padding: 3px;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
}
.owner-summary > * {
    color: var(--gray-col);
}
.noti-bell {
    cursor: pointer;
    position: relative;
}
.noti-bell svg {
    z-index: 3;
}
.noti-bell svg > *{
    z-index: 1;
    stroke: var(--like-col);
    fill: var(--pri-color3);
}
.noti-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    right: 1px;
    top: -1px;
    z-index: -1;
}

.owner-img {
    width: 35px;
    height: 35px;
    background-image: url(../Images/img32.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.ver-badge svg {
    position: absolute;
    width: 23px;
     right: -20%;
     top: -30%;

}
.owner-act svg {
    position: absolute;
    width: 20px;
    right: -20%;
    bottom: 0;
}
.owner-name p.name {
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-col);
}
.owner-drop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 5px);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: .4s linear;
    z-index: 20;
    display: flex;
    justify-content: center;
    
}
.log-out-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow:  0 0 2px rgb(0, 0, 0);
    cursor: pointer;
    transition: var(--trans2);
    z-index: 30;
    background-color: var(--pri-color3);
    color: var(--gray-col);
    font-weight: 600;
}
.log-out-btn:active {
    scale: 0.7;
}
.owner-summary.active .owner-drop {
    max-height: 100px;
    opacity: 1;
    padding: 3px;
}
.fa-chevron-down {
    transition: .4s linear;
}
.owner-summary.active .fa-chevron-down {
    rotate: 180deg;  
}

.bar {
    display: none;
}
main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    min-height: 100dvh;
}
nav {
    padding: 15px;
    width: 250px;
    height: calc(100vh - 54px);
    position: sticky;
    top: 54px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 0.6px black;
    overflow: auto;
}
nav::-webkit-scrollbar {
    width: 0;
    display: none;
}
nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav ul li {
    display: block;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--pri-color);
    position: relative;
    padding-left: 14px;
    box-shadow: 0 0 2px black;
}
.nav-menu:visited {
    color: var(--pri-color);
}
.nav-menu svg {
    width: 23px;
}
.nav-menu::before {
    width: 5px;
    height: 70%;
    content: '';
    position: absolute;
    background-color: var(--like-col);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    display: none;
}

.nav-menu.active {
    color: var(--like-col);
    background-color: rgba(255, 255, 255, 0.279);
    font-weight: 600;
    box-shadow: 0 0 2px var(--like-col);
}
.nav-menu.active::before {
    display: block;
}
.nav-menu1.active svg > * {
    fill: var(--like-col);
}
.nav-menu2.active svg > *, .nav-menu5.active svg > *, .nav-menu3.active svg > *, .nav-menu4.active svg > * {
    stroke: var(--like-col);
}


.owner-drop2 {
    top: unset;
    bottom: calc(100% + 5px);    
}
.owner-cont2 {
    display: none !important;
}

.page {
    height: 100vh;
    padding: 15px 10px;
    display: none;
}
.page.active {
    display: block;
}






























































footer {
    background-color: var(--pri-bg-col);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem;
}
.footer-cont, .foot-low-cont {
    display: grid;
    grid-template-columns:  1fr 0.5fr 1fr;
    gap: 20px;
    align-items: start;
}
.foot-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.foot-logo > svg {
    width: 40px;
}
.foot-logo h2 {
    color: var(--pri-color3);
}
.foot-item > h2 {
    color: var(--foot-col);
    font-size: 1.2rem;
}
.foot-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
    margin-top: 10px;
}
a.foot {
    text-decoration: none;
    color: var(--fot-col2);
    font-weight: 600;
    font-size: 14px;
    transition: var(--trans2);
}
a.foot:hover {
    color: var(--white-var);
}
.app-foot {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 3px;
}
.foot-item h3 {
    font-size: .85rem;
    color: var(--foot-col);
}
.inp-new {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.inp-new label {
    color: var(--pri-color3);

}
.news-group {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.news-group input {
    padding: 10px;
    border: none;
    outline: none;
    flex-grow: 1;
    width: 100%;
    display: block;
}
.news-group input::placeholder {
    font-size: 12px;
    color: var(--pri-color2);
}
.news-btn {
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--btn-col);
    transition: var(--trans2);
    cursor: pointer;
    color: var(--pri-color3);
    border-radius: 6px;
    font-size: 12px;
}
hr.rule {
    border: none;
    background-color: var(--foot-col3);
    height: 1px;
    margin-block: 3.5rem 1.5rem;
}
.foot-low-cont {
    grid-template-columns: 40% repeat(3, 1fr);
}
.foot-low-item {
    display: flex;
    gap: 15px;
    align-items: center;
}
.foot-low-item p, .foot-low-item a {
    text-decoration: none;
    color: var(--pri-color3);
    font-size: 14px;
}
.foot-low-item a:visited {
    color: var(--pri-color3);
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.553);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}
.modal.active {
    display: block;
}



nav.active {
        left: 0;
    }

@media(max-width: 1100px) {
    .owner-cont {
        display: none;
    }
    .bar {
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: var(--like-col);
    }
    main {
        grid-template-columns: 1fr;
    }
    nav {
        background-color: var(--pri-color3);
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 3000;
        max-width: 85%;
        left: -250px;
        transition: var(--trans2);
    };
    nav ul {
        flex: 1;
    }
    .owner-summary2 {
    display: flex !important;
    justify-content: space-between;
}
.owner-cont2 {
    display: block !important;
}
    
}


@media(max-width: 900px) {
    .service-cont {
          grid-template-columns: repeat(2, 1fr);
    }
    footer {
    padding: 1.5rem;
}
.footer-cont, .foot-low-cont {
    grid-template-columns:  repeat(2, 1fr);
}
}

 @media(max-width: 570px) {

    .service-cont {
        grid-template-columns: 1fr;
    }
     .footer-cont, .foot-low-cont {
    grid-template-columns:   1fr;
}
 .cont-cont > h2 {
    font-size: 2rem;
    text-align: center;
}
 }
