:root{
    --body: rgba(240, 240, 240, 1);
    --pri-color : rgba(51, 51, 51, 1);
    --nav-color-hov : rgba(255, 152, 0, 1);
    --pri-color2 : rgba(66, 66, 66, 1);
    --pri-color3 : rgba(255, 255, 255, 1);
    --sec-color : rgba(4, 47, 190, 1);
    --sec-color2 : rgba(102, 102, 102, 1);
    --white-var : rgba(246, 246, 246, 1);
    --sec-color4 : rgba(0, 21, 165, 1);
    --sec-color5 : rgba(21, 112, 239, 1);
    --log-color6 : rgba(152, 162, 179, 1);
    --foot-col: rgba(142, 163, 235, 1);
    --fot-col2: rgba(207, 211, 215, 1);
    --foot-col3: rgba(58, 134, 255, 1);
    --sec-color3 : rgba(56, 122, 231, 1);
    --pri-bg-col: rgba(0, 0, 89, 1);
    --pri-bg-col2: rgba(142, 163, 235, 0.24);
    --log-bg: rgba(209, 233, 255, 1);
    --pri-bg-col3: rgba(217, 217, 217, 1);
    --sec-bg-col: rgba(204, 204, 204, 1);
    --rat-bg-col2: rgba(236, 236, 236, 1);
    --gray-col: rgba(128, 128, 128, 1);
    --gray-chat: rgba(224, 224, 224, 1);
    --pri-icon-col: rgba(41, 45, 50, 1);
    --calendar: rgba(26, 26, 26, 1);
    --dark: rgba(0, 0, 0, 1);
    --gold-col: rgba(251, 192, 45, 1);
    --gold-2: rgba(236, 186, 11, 1);
    --light-gold: rgba(225, 166, 20, 1);
    --red-col: rgba(255, 0, 0, 1);
    --logo--col: rgba(52, 90, 220, 1);
    --btn-col: rgba(13, 0, 255, 1);
    --btn-col-hov: rgba(0, 0, 114, 1);
    --btn-dark: rgba(17, 0, 6, 1);
    --like-col: rgba(29, 72, 216, 1);
    --success: rgba(76, 175, 80, 1);
    --cancel: rgba(244, 67, 54, 1);
    --bg-red-col: rgba(220, 87, 87, 1);
    --pending: rgba(255, 183, 77, 1);
    --blue-fade: rgba(7, 91, 218, 1);
    --trans2: .4s ease-in-out;
    interpolate-size: allow-keywords;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: var(--white-var);
    color: var(--pri-color);
    font-family: "Inter", sans-serif;;
}

header {
    background-color: var(--pri-color3);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    z-index: 500;
}
.logo {
    display: flex;
    align-items: center;
    gap: 2px;
}
.logo svg {
    width: 30px;
}
.logo h2 {
    font-size: 19px;
    color: var(--like-col);
}
.sign-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.owner-summary {
    background-color: var(--white-var);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    padding: 3px;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
}
.owner-summary > * {
    color: var(--gray-col);
}
.noti-bell {
    cursor: pointer;
    position: relative;
}
.noti-bell svg {
    z-index: 3;
}
.noti-bell svg > *{
    z-index: 1;
    stroke: var(--like-col);
    fill: var(--pri-color3);
}
.noti-dot {
    width: 10px;
    height: 10px;
    background-color: var(--red-col);
    position: absolute;
    border-radius: 50%;
    right: 1px;
    top: -1px;
    z-index: -1;
}

.owner-img {
    width: 35px;
    height: 35px;
    background-image: url(../Images/img32.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.ver-badge svg {
    position: absolute;
    width: 23px;
     right: -20%;
     top: -30%;

}
.owner-act svg {
    position: absolute;
    width: 20px;
    right: -20%;
    bottom: 0;
}
.owner-name p.name {
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-col);
}
.owner-drop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 5px);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: .4s linear;
    z-index: 20;
    display: flex;
    justify-content: center;
    
}
.log-out-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow:  0 0 2px rgb(0, 0, 0);
    cursor: pointer;
    transition: var(--trans2);
    z-index: 30;
    background-color: var(--pri-color3);
    color: var(--gray-col);
    font-weight: 600;
}
.log-out-btn:active {
    scale: 0.7;
}
.owner-summary.active .owner-drop {
    max-height: 100px;
    opacity: 1;
    padding: 3px;
}
.fa-chevron-down {
    transition: .4s linear;
}
.owner-summary.active .fa-chevron-down {
    rotate: 180deg;  
}

.bar {
    display: none;
}
main {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100dvh;
}
nav {
    padding: 15px;
    width: 250px;
    height: calc(100vh - 54px);
    position: sticky;
    top: 54px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 0.6px black;
    overflow: auto;
}
nav::-webkit-scrollbar {
    width: 0;
    display: none;
}
nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav ul li {
    display: block;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--pri-color);
    position: relative;
    padding-left: 14px;
    box-shadow: 0 0 2px black;
}
.nav-menu:visited {
    color: var(--pri-color);
}
.nav-menu svg {
    width: 23px;
}
.nav-menu::before {
    width: 5px;
    height: 70%;
    content: '';
    position: absolute;
    background-color: var(--like-col);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    display: none;
}

.nav-menu.active {
    color: var(--like-col);
    background-color: rgba(255, 255, 255, 0.279);
    font-weight: 600;
    box-shadow: 0 0 2px var(--like-col);
}
.nav-menu.active::before {
    display: block;
}
.nav-menu1.active svg > * {
    fill: var(--like-col);
}
.nav-menu2.active svg > *, .nav-menu5.active svg > *, .nav-menu3.active svg > *, .nav-menu4.active svg > * {
    stroke: var(--like-col);
}

.owner-drop2 {
    top: unset;
    bottom: calc(100% + 5px);    
}
.owner-cont2 {
    display: none !important;
}

.page {
    padding: 15px 30px;
    display: none;
}
.page.active {
    display: block;
}

/* styles for the dashboard page */
.dashboard.active {
    display: flex;
}
.dashboard {
    flex-direction: column;
    gap: 30px;
    justify-content: start;
    align-items: start;
    padding-bottom: 50px;
}
.dash-stat-cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
}
.stat-item {
    background-color: var(--pri-color3);
    box-shadow: 0 0 1px black;
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stat-item4 {
    grid-column: span 3;
    min-height: 300px;
}
.stat-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.stat-title {
    font-weight: 600;
    font-size: 14px;
}
.trend-cont {
    background-color: rgba(35, 193, 10, 0.15);
    padding: 3px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    align-items: center;
    box-shadow: 0 0 1px rgba(11, 138, 0, 1);
}
span.per {
    font-size: 13px;
    color: rgba(11, 138, 0, 1);
}
.stat-item  > p {
    font-size: 13px;
    color: var(--gray-col);
}
.stat-item4 h2 {
    font-size: 25px;
}
.cha-stat {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.cha-stat-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.cha-stat-item p {
    font-size: 13px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3px;
}
span.pen-col, span.comp-col {
    width: 15px;
    border-radius: 2px;
    height: 15px;
    background-color: rgba(142, 163, 235, 0.56);
    display: block;
}
span.comp-col {
    background-color: rgba(0, 0, 139, 1);
}
.stat-month, .stat-month::picker(select) {
    appearance: base-select;
    padding: 5px;
    font-size: 12px;
    background-color: var(--white-var);
    border: none;
    outline: none;
    box-shadow: 0 0 1px black;
    cursor: pointer;
}
.stat-month::picker(select) {
    margin-block: 3px;
    border-radius: 10px;
}
.stat-month option {
    font-size: 11px;
    border-radius: 3px;
}
.stat-month option:focus {
    outline: none;
}
.stat-chart-cont {
    background-color: rgba(0, 0, 89, 1);
    height: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.cust-stat-cont {
    background-color: var(--white-var);
    width: 650px;
    max-width: 70%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 1px black;
}
.cust-stat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.cust-stat-header h2 {
    font-size: 20px;
}
.cust-fil::picker-icon {
    appearance: none;
    content: '';
}
.filt-cont {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 1px black;
    position: relative;
    cursor: pointer;
}
.filt-cont p {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.filt-cont svg {
    width: 14px;
}
.filt-drop {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px;
    position: absolute;
    top: calc(100% + 3px);
    width: 100%;
    left: 0;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: var(--trans2);
    box-shadow: 0 0 1px black;
}
.drop-option {
    font-size: 14px;
    border-radius: 5px;
    padding: 4px;
    box-shadow:  0 0 1px black;
    cursor: pointer;
}
.filt-cont.active .filt-drop {
    max-height: max-content;
    pointer-events: auto;
    opacity: 1;
} 
.cust-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    padding: 5px;
}
.cust-body-header, .cust-cont-item {
    display: grid;
    grid-template-columns: 1fr repeat(4, 0.5fr);
    align-items: center;
    width: 100%;
    color: rgba(148, 148, 148, 1);
    font-size: 12.5px;
    font-weight: 600;
}
.cust-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cust-cont-item {
    padding: 10px;
    width: 100%;
    color: var(--pri-color);
    font-size: initial;
    font-weight: initial;
}
.prof-block {
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
}
div.img {
    width: 30px;
    aspect-ratio: 1;
    background-image: url(../Images/img43.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
div.img2 {
    background-image: url(../Images/img44.png);
}
div.img3 {
    background-image: url(../Images/img45.png);
}
.prof-block h3 {
    font-size: 16px;
}
.cust-cont-item p {
    font-size: 14px;
}
.cust-date {
    color: var(--like-col);
    font-weight: 600;
}
.appr, .pen, .can {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    color: var(--pri-color3);
}
.appr {
    background-color: rgba(51, 149, 55, 1);
}
.pen {
    background-color: rgba(229, 127, 0, 1);
}
.can {
    background-color: rgba(218, 42, 29, 1);
}



/* styles for the booking page */


.book-cont {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.book-item {
    background-color: var(--pri-color3);
    display: grid;
    width: 300px;
    grid-template-columns:  1fr;
    gap: 15px;
    align-items: start;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 1px black;
    cursor: pointer;
    transition: .5s linear;
}
.book-item.active {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    cursor: auto;
}
/* .book-item > *:not(button.message-cust) {
    pointer-events: none;
} */


.book-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.book-left-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

}
.book-prof-img {
    background-color: red;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book-det {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.spin {
    transition: var(--trans2);
    font-size: 20px;
    color: var(--pri-color);
    cursor: pointer;
    pointer-events: none;
}
.book-item.active .spin {
    rotate: 180deg;
    align-self: flex-start;
    pointer-events: initial;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.book-prof, .book-short-note, .book-addy {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-prof > p, .book-short-note > p, .book-addy > p {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-col);
}
.book-call, .book-location {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: start;
    font-weight: 600;
    font-size: 13px;
    color: var(--gray-col);
}
.book-call svg, .book-location svg {
    width: 20px;
}
.book-location {
    display: none;
}
.book-item.active .book-location {
    display: flex;
}
.book-budget {
    display: none;
}
.book-item.active .book-budget {
    display: initial;
}
.book-budget h2, .book-short-note h2, .book-addy h2 {
    font-size: 18px;
}
.book-budget p {
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-col);
}
.book-serv-cont {
    display: none;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.book-item.active .book-serv-cont {
    display: flex;
}
.book-serv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.serv-type p {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-col);
}
.serv-type p span {
    font-weight: 600;
    margin-left: 10px;
    font-size: 17px;
    color: var(--pri-color);
}
.book-time, .book-date {
    display: flex;
    align-items: center;
    gap: 10px;
}
.book-time svg, .book-date svg {
    width: 20px;
}
.book-time-text, .book-date-text {
    font-weight: 600;
}

.book-serv-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-serv-foot {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.book-serv-foot p {
    font-size: 15px;
    color: var(--gray-col);
}
.book-samp-img {
    width: 80%;
    background-color: brown;
    aspect-ratio: 16 /12;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 3px black;
}


.book-right {
    height: 100%;
    display: none;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr auto;
    gap: 34px;
}
.book-item.active .book-right {
    display: grid;
}
.book-short-note, .book-addy {
    background-color: rgba(78, 78, 78, 0.25);
    box-shadow: 0 0 3px rgba(78, 78, 78, 0.25);
    padding: 10px;
    border-radius: 20px;
}
.book-short-note p, .book-addy p {
    font-weight: 500;
}
.message-cust {
    width: max-content;
    margin-left: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--btn-col);
    transition: var(--trans2);
    color: var(--pri-color3);
    border-radius: 8px;
}
.message-cust:active {
    scale: 0.75;
}
.message-cust:hover {
    background-color: var(--btn-col-hov);
}

.sample-img {
    width: 100%;
    height: 100%;
    background-color: red;
    object-fit: cover;
}

/* styles for the company page */

.company-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}
.company-form > h2 {
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.comp-form-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comp-form-header > input, .comp-work-img-cont > input {
    display: none;
}
.comp-form-header label {
    width: 200px;
    aspect-ratio: 16 /11;
    background-color: var(--gray-chat);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    transition: var(--trans2);
}
.comp-form-header label:active {
    scale: 0.95;
}
.comp-form-header label span {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    pointer-events: none;
}
.error {
    font-size: 12px;
    color: var(--red-col);
    margin-top: 4px;
    display: none;
}
.comp-form-body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.comp-form-body .error {
    margin-left: 8px;
}
.comp-group {
    width: 100%;
}
.comp-layer {
    position: relative;
}
.comp-layer svg {
    width: 18px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}
.comp-layer input, .comp-layer textarea {
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    outline: none;
    box-shadow: 0 0 2px black;
    color: var(--pri-color);
}
.comp-layer input::placeholder, .comp-layer textarea::placeholder {
    color: var(--pri-color);
}
.comp-layer textarea {
    min-height: 150px;
    resize: none;
}

.comp-group9 svg, .comp-group10 svg{
    width: 20px;
    position: absolute;
    top: 6% ;
    left: 5px;
    transform: translateY(-6%);
    pointer-events: none;
}
.comp-form-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.comp-form-footer h2 {
    font-size: 19px;
    text-align: center;
}

.comp-form-footer p {
    text-align: center;
}
.work-img-up {
    background-color: var(--btn-col);
    display: block;
    width: max-content;
    margin: 15px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 2px black;
    font-size: 14px;
    color: var(--pri-color3);
    cursor: pointer;
}
.up-img-cont {
    min-height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}
.up-img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 0 2px black;
}
.save-comp-btn {
    width: max-content;
    margin: auto;
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: var(--btn-col);
    transition: var(--trans2);
    cursor: pointer;
    color: var(--pri-color3);
    border-radius: 10px;
    box-shadow: 0 0 2px black;
}
.save-comp-btn:active {
    scale: 0.89;
}
.save-comp-btn:hover {
    background-color: var(--btn-col-hov);
}













































footer {
    background-color: var(--pri-bg-col);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer-cont, .foot-low-cont {
    display: grid;
    grid-template-columns:  1fr 0.5fr 1fr;
    gap: 20px;
    align-items: start;
}
.foot-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.foot-logo > svg {
    width: 40px;
}
.foot-logo h2 {
    color: var(--pri-color3);
}
.foot-item > h2 {
    color: var(--foot-col);
    font-size: 1.2rem;
}
.foot-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
    margin-top: 10px;
}
a.foot {
    text-decoration: none;
    color: var(--fot-col2);
    font-weight: 600;
    font-size: 14px;
    transition: var(--trans2);
}
a.foot:hover {
    color: var(--white-var);
}
.app-foot {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 3px;
}
.foot-item h3 {
    font-size: .85rem;
    color: var(--foot-col);
}
.inp-new {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.inp-new label {
    color: var(--pri-color3);

}
.news-group {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.news-group input {
    padding: 10px;
    border: none;
    outline: none;
    flex-grow: 1;
    width: 100%;
    display: block;
}
.news-group input::placeholder {
    font-size: 12px;
    color: var(--pri-color2);
}
.news-btn {
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--btn-col);
    transition: var(--trans2);
    cursor: pointer;
    color: var(--pri-color3);
    border-radius: 6px;
    font-size: 12px;
}
hr.rule {
    border: none;
    background-color: var(--foot-col3);
    height: 1px;
    margin-block: 3.5rem 1.5rem;
}
.foot-low-cont {
    grid-template-columns: 40% repeat(3, 1fr);
}
.foot-low-item {
    display: flex;
    gap: 15px;
    align-items: center;
}
.foot-low-item p, .foot-low-item a {
    text-decoration: none;
    color: var(--pri-color3);
    font-size: 14px;
}
.foot-low-item a:visited {
    color: var(--pri-color3);
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.553);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}
.modal.active {
    display: block;
}



nav.active {
        left: 0;
    }

@media(max-width: 1100px) {
    .owner-cont {
        display: none;
    }
    .bar {
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: var(--like-col);
    }
    main {
        grid-template-columns: 1fr;
    }
    nav {
        background-color: var(--pri-color3);
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 3000;
        max-width: 85%;
        left: -250px;
        transition: var(--trans2);
    };
    nav ul {
        flex: 1;
    }
    .owner-summary2 {
    display: flex !important;
    justify-content: space-between;
}
.owner-cont2 {
    display: block !important;
}
    
}


@media(max-width: 900px) {
    .service-cont {
          grid-template-columns: repeat(2, 1fr);
    }
    footer {
    padding: 1.5rem;
}
.footer-cont, .foot-low-cont {
    grid-template-columns:  repeat(2, 1fr);
}
}

 @media(max-width: 570px) {

    .service-cont {
        grid-template-columns: 1fr;
    }
     .footer-cont, .foot-low-cont {
    grid-template-columns:   1fr;
}
 .cont-cont > h2 {
    font-size: 2rem;
    text-align: center;
}
 }
