:root{
    --body: rgba(240, 240, 240, 1);
    --pri-color : rgba(51, 51, 51, 1);
    --nav-color-hov : rgba(255, 152, 0, 1);
    --pri-color2 : rgba(66, 66, 66, 1);
    --pri-color3 : rgba(255, 255, 255, 1);
    --sec-color : rgba(4, 47, 190, 1);
    --sec-color2 : rgba(102, 102, 102, 1);
    --white-var : rgba(246, 246, 246, 1);
    --sec-color4 : rgba(0, 21, 165, 1);
    --sec-color5 : rgba(21, 112, 239, 1);
    --log-color6 : rgba(152, 162, 179, 1);
    --foot-col: rgba(142, 163, 235, 1);
    --fot-col2: rgba(207, 211, 215, 1);
    --foot-col3: rgba(58, 134, 255, 1);
    --sec-color3 : rgba(56, 122, 231, 1);
    --pri-bg-col: rgba(0, 0, 89, 1);
    --pri-bg-col2: rgba(142, 163, 235, 0.24);
    --log-bg: rgba(209, 233, 255, 1);
    --pri-bg-col3: rgba(217, 217, 217, 1);
    --sec-bg-col: rgba(204, 204, 204, 1);
    --rat-bg-col2: rgba(236, 236, 236, 1);
    --gray-col: rgba(128, 128, 128, 1);
    --gray-chat: rgba(224, 224, 224, 1);
    --pri-icon-col: rgba(41, 45, 50, 1);
    --calendar: rgba(26, 26, 26, 1);
    --dark: rgba(0, 0, 0, 1);
    --gold-col: rgba(251, 192, 45, 1);
    --gold-2: rgba(236, 186, 11, 1);
    --light-gold: rgba(225, 166, 20, 1);
    --red-col: rgba(255, 0, 0, 1);
    --logo--col: rgba(52, 90, 220, 1);
    --btn-col: rgba(13, 0, 255, 1);
    --btn-col-hov: rgba(0, 0, 114, 1);
    --btn-dark: rgba(17, 0, 6, 1);
    --like-col: rgba(29, 72, 216, 1);
    --success: rgba(76, 175, 80, 1);
    --cancel: rgba(244, 67, 54, 1);
    --bg-red-col: rgba(220, 87, 87, 1);
    --pending: rgba(255, 183, 77, 1);
    --blue-fade: rgba(7, 91, 218, 1);
    --trans2: .4s ease-in-out;
    interpolate-size: allow-keywords;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: var(--white-var);
    color: var(--pri-color);
    font-family: "Inter", sans-serif;;
}
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.553);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}
.modal.active {
    display: block;
}

header {
    background-color: var(--pri-color3);
    padding: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 2px var(--dark);
    position: sticky;
    top: 0;
    z-index: 22;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1px;
}
.logo > svg {
    width: 35px;
    height: 35px;
}
.logo > h2 {
    color: var(--like-col);
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: end;
    gap: 4rem;
}
nav > ul {
    display: flex;
    list-style: none;
    align-self: center;
    text-align: center;
    gap: 2.5rem;
    justify-content: end;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight:600;
    color: var(--pri-color);
    transition: var(--trans2);
}
nav ul li a:visited {
    color: var(--pri-color);
}
nav ul li a:hover {
    color: var(--nav-color-hov);
}
.nav-link.active {
    color: var(--nav-color-hov);
}
.six {
    display: none;
}

.bar {
    display: none;
}
.bar-tog {
    color: var(--like-col);
}
.sign-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.nav-link6, .nav-link7 {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--pri-color3) !important;
}
.sign-block > a, .nav-link7, .nav-link6 {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    color: var(--pri-color3);
    transition: var(--trans2);
}
.sign-in, .nav-link6 {
    background-color: var(--btn-col);
}
.sign-in:hover, .nav-link6:hover {
    background-color: var(--btn-col-hov);
}
.sign-up, .nav-link7 {
    background-color: var(--btn-dark);
}
.sign-up:hover, .nav-link7:hover {
    background-color: var(--btn-col-hov);
}
.search-area {
    background-color: var(--pri-color3);
    margin: 20px ;
    width: 50%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.212);
    display: grid;
}
.search-area svg {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.search-area input {
    flex: 1;
    position: relative;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    display: block;
}
.service {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.top-rev-item {
    box-shadow: 0px 0px 4px var(--dark);
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.top-header {
    width: 100%;
    aspect-ratio: 16/ 10;
    overflow: hidden;
    position: relative;
}
.top-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heart {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--pri-color3);
    top: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.heart.active {
    background-color: var(--like-col);
}
.heart svg {
    stroke: #475569;
}
.heart.active svg {
    stroke: var(--pri-color3);
}
.top-body {
    flex: 1;
}
.top-body, .top-footer {
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.bus-name {
    font-weight: 500;
    font-size: 1.2rem;
}
.location, .work-note, .day-cal, .book-time, .rate-cont {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}
.book-time-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rate-cont {
    background-color: var(--pri-bg-col2);
    padding: 4px;
    border-radius: 5px;
}
.top-rev-text {
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 400;
}
.top-footer {
    align-items: center;
    padding-bottom: 10px;
    padding-inline: 8px;
}
.rev-range {
    font-size: 13px;
    font-weight: 600;
}
.price-range {
    font-weight: 600;
    font-size: 1.1rem;
}
.log-rev {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 0;
    background-color: var(--btn-col);
    color: var(--pri-color3);
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: var(--trans2);
    text-decoration: none;
}
.log-rev:visited {
    color: var(--pri-color3);
}
.log-rev:hover {
    background-color: var(--btn-col-hov);
}

footer {
    background-color: var(--pri-bg-col);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem;
}
.footer-cont, .foot-low-cont {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 20px;
    align-items: start;
}
.foot-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.foot-logo > svg {
    width: 40px;
}
.foot-logo h2 {
    color: var(--pri-color3);
}
.foot-item > h2 {
    color: var(--foot-col);
    font-size: 1.2rem;
}
.foot-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
    margin-top: 10px;
}
a.foot {
    text-decoration: none;
    color: var(--fot-col2);
    font-weight: 600;
    font-size: 14px;
    transition: var(--trans2);
}
a.foot:hover {
    color: var(--white-var);
}
.app-foot {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 3px;
}
.foot-item h3 {
    font-size: .85rem;
    color: var(--foot-col);
}
.inp-new {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.inp-new label {
    color: var(--pri-color3);

}
.news-group {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.news-group input {
    padding: 10px;
    border: none;
    outline: none;
    flex-grow: 1;
    width: 100%;
    display: block;
}
.news-group input::placeholder {
    font-size: 12px;
    color: var(--pri-color2);
}
.news-btn {
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--btn-col);
    transition: var(--trans2);
    cursor: pointer;
    color: var(--pri-color3);
    border-radius: 6px;
    font-size: 12px;
}
hr.rule {
    border: none;
    background-color: var(--foot-col3);
    height: 1px;
    margin-block: 3.5rem 1.5rem;
}
.foot-low-cont {
    grid-template-columns: 40% repeat(3, 1fr);
}
.foot-low-item {
    display: flex;
    gap: 15px;
    align-items: center;
}
.foot-low-item p, .foot-low-item a {
    text-decoration: none;
    color: var(--pri-color3);
    font-size: 14px;
}
.foot-low-item a:visited {
    color: var(--pri-color3);
}

@media (max-width: 1100px){
    .bar {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }
    nav {
        position: fixed;
        background-color: var(--white-var);
        box-shadow: 0 0 3px black;
        top: 0;
        left: -310px;
        width: 300px;
        max-width: 80%;
        height: 100vh;
        justify-content: start;
        align-self: start;
        transition: .4s linear;
    }
    nav.active {
        left: 0;
    }
    nav ul {
        overflow: auto;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
        height: 100%;
        gap: 10px;
        padding: 30px 15px 15px 15px;
        flex-shrink: 0;
    }
    nav ul::-webkit-scrollbar {
        display: none;
    }
    nav ul li {
        width: 100%;
        text-align: left;
        border-radius: 5px;
        overflow: hidden;
        display: block;
        flex-shrink: 0;
    }
    .six {
        display: block;
        
    }
    .nav-link {
        flex-shrink: 0;
    }
    .six-one {
        margin-top: auto;
    }
    a.nav-link:not(.nav-link6, .nav-link7){
        padding: 10px;
        display: block;
        background-color: rgba(0, 0, 0, 0.203);
    }
    .sign-block {
        display: none;
    }

}

@media(max-width: 900px) {
    .service-cont {
          grid-template-columns: repeat(2, 1fr);
    }
    footer {
    padding: 1.5rem;
}
.footer-cont, .foot-low-cont {
    grid-template-columns:  repeat(2, 1fr);
}
.search-area {
    margin: 20px auto;
    width: 90%;
}

}

 @media(max-width: 570px) {

    .service-cont {
        grid-template-columns: 1fr;
    }
     .footer-cont, .foot-low-cont {
    grid-template-columns:   1fr;
}
 }
