@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Questrial&display=swap');


:root{
    --body: rgba(240, 240, 240, 1);
    --pri-color : rgba(51, 51, 51, 1);
    --nav-color-hov : rgba(255, 152, 0, 1);
    --pri-color2 : rgba(66, 66, 66, 1);
    --pri-color3 : rgba(255, 255, 255, 1);
    --sec-color : rgba(4, 47, 190, 1);
    --sec-color2 : rgba(102, 102, 102, 1);
    --white-var : rgba(246, 246, 246, 1);
    --sec-color4 : rgba(0, 21, 165, 1);
    --sec-color5 : rgba(21, 112, 239, 1);
    --drop-col : rgba(66, 66, 66, 1);
    --foot-col: rgba(142, 163, 235, 1);
    --fot-col2: rgba(207, 211, 215, 1);
    --foot-col3: rgba(58, 134, 255, 1);
    --sec-color3 : rgba(56, 122, 231, 1);
    --pri-bg-col: rgba(0, 0, 89, 1);
    --pri-bg-col2: rgba(142, 163, 235, 0.24);
    --log-bg: rgba(209, 233, 255, 1);
    --pri-bg-col3: rgba(217, 217, 217, 1);
    --sec-bg-col: rgba(204, 204, 204, 1);
    --rat-bg-col2: rgba(236, 236, 236, 1);
    --gray-col: rgba(128, 128, 128, 1);
    --gray-chat: rgba(224, 224, 224, 1);
    --pri-icon-col: rgba(41, 45, 50, 1);
    --calendar: rgba(26, 26, 26, 1);
    --dark: rgba(0, 0, 0, 1);
    --gold-col: rgba(251, 192, 45, 1);
    --gold-2: rgba(236, 186, 11, 1);
    --light-gold: rgba(225, 166, 20, 1);
    --red-col: rgba(255, 0, 0, 1);
    --logo--col: rgba(52, 90, 220, 1);
    --btn-col: rgba(13, 0, 255, 1);
    --btn-col-hov: rgba(0, 0, 114, 1);
    --btn-dark: rgba(17, 0, 6, 1);
    --like-col: rgba(29, 72, 216, 1);
    --success: rgba(76, 175, 80, 1);
    --cancel: rgba(244, 67, 54, 1);
    --bg-red-col: rgba(220, 87, 87, 1);
    --pending: rgba(255, 183, 77, 1);
    --blue-fade: rgba(7, 91, 218, 1);
    --trans2: .4s ease-in-out;
    interpolate-size: allow-keywords;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: var(--white-var);
    color: var(--pri-color);
    font-family: "Inter", sans-serif;;
}
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.553);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}
.modal.active {
    display: block;
}

header {
    background-color: var(--pri-color3);
    padding: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 2px var(--dark);
    position: sticky;
    top: 0;
    z-index: 22;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1px;
}
.logo > svg {
    width: 35px;
    height: 35px;
}
.logo > h2 {
    color: var(--like-col);
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: end;
    gap: 4rem;
}
nav > ul {
    display: flex;
    list-style: none;
    align-self: center;
    text-align: center;
    gap: 2.5rem;
    justify-content: end;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight:600;
    color: var(--pri-color);
    transition: var(--trans2);
}
nav ul li a:visited {
    color: var(--pri-color);
}
nav ul li a:hover {
    color: var(--nav-color-hov);
}
.nav-link.active {
    color: var(--nav-color-hov);
}

.bar {
    display: none;
}
.bar-tog {
    color: var(--like-col);
}

.profile-block {
    display: flex;
    align-items: center;
    gap: 20px;
}
.noti-block-cont {
    position: relative;
}
.noti-block-cont svg {
    z-index: 3;
    position: relative;
    fill: var(--pri-color3);
}
.noti-dot {
    width: 10px;
    height: 10px;
    background-color: var(--btn-col);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
.prof-summary {
    display: flex;
    align-items: center;
    position: relative;
    gap: 8px;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    box-shadow:  0 0 2px var(--gray-col);
}
.prof-summary > *:not(.user-drop-down) {
    pointer-events: none;
}

.cust-img {
    width: 35px;
    height: 35px;
    background-image: url(/Images/img32.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow:  0 0 1px var(--dark);
}
.cust-name-summary {
    font-weight: 600;
}
.user-drop-down {
    background-color: var(--pri-color3);
    position: absolute;
    top: calc(100% + 11px);
    width: 100%;
    box-shadow: 0 0 2px var(--dark);
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: var(--trans2);
}
.prof-summary.active .user-drop-down {
    max-height: max-content;
}
.spin {
    transition: var(--trans2);
    font-size: 20px;
}
.prof-summary.active .spin {
    rotate: 180deg;
}

.user-drop-down > * {
    pointer-events: auto !important;
}
.prof-summary2 {
    display: none;
}

.drop-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.drop-cont p {
    width: 100%;
    text-align: right;
}
.drop-cont p a, .user-log-out-btn {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--pri-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--drop-col);
}
.drop-cont p a:visited {
    color: var(--drop-col);
}
.drop-cont p a:hover, .user-log-out-btn:hover {
    background-color: var(--gray-chat);
}
.user-log-out-btn {
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    text-align: right;
    background-color: var(--pri-color3);
}






.prof-cont {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 2.5rem;
}

.user-prof-form {
    width: 400px;
    background-color: var(--pri-color3);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px var(--gray-col);
    gap: 20px;
    align-items: start;
}
.user-form-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-form-header h2 {
    text-align: center;
}
.user-form-header input {
    display: none;
}
.user-form-header label {
    width: 120px;
    height: 120px;
    background-color: var(--gray-chat);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    overflow: hidden;
}
#bus-form-img-error {
    text-align: center;
}
.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.user-span-text {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}
.error {
    font-size: 12px;
    color: var(--red-col);
    margin-top: 4px;
    display: none;
    width: 100%;
    height: 20px;
}
.user-form-body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.user-form-body .error {
    margin-left: 8px;
}
.user-group {
    width: 100%;
    gap: 10px;
}
.user-layer {
    position: relative;
}
.user-layer svg {
    width: 18px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}
.user-layer input, .user-layer textarea {
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    outline: none;
    box-shadow: 0 0 2px black;
    color: var(--pri-color);
}
.user-layer input::placeholder, .user-layer textarea::placeholder {
    color: var(--pri-color);
}
.comp-layer textarea, .user-layer textarea {
    min-height: 150px;
    resize: none;
}
.user-group5 svg{
    width: 20px;
    position: absolute;
    top: 6% ;
    left: 5px;
    transform: translateY(-6%);
    pointer-events: none;
}
.save-user-change-btn, .done-btn {
    width: max-content;
    margin: auto;
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: var(--btn-col);
    transition: var(--trans2);
    cursor: pointer;
    color: var(--pri-color3);
    border-radius: 10px;
    box-shadow: 0 0 2px black;
}
 .save-user-change-btn:active, .done-btn:active {
    scale: 0.89;
}
.save-user-change-btn:hover, .done-btn:hover {
    background-color: var(--btn-col-hov);
}

.upd-suc-cont {
    background-color: var(--pri-color3);
    box-shadow: 0 0 2px var(--dark);
    position: fixed;
    width: 300px;
    max-width: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    gap: 15px;
    z-index: 2000;
}
.upd-suc-cont.active {
    display: flex;
}
.upd-logo {
    text-align: center;
}
.upd-logo svg {
    width: 60px;
}
.upd-suc-cont h3 {
    text-align: center;
}

.upd-suc-cont p {
    text-align: center;
    font-size: 16px;
}
.done-btn {
    width: 100%;
}














footer {
    background-color: var(--pri-bg-col);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem;
}
.footer-cont, .foot-low-cont {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 20px;
    align-items: start;
}
.foot-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.foot-logo > svg {
    width: 40px;
}
.foot-logo h2 {
    color: var(--pri-color3);
}
.foot-item > h2 {
    color: var(--foot-col);
    font-size: 1.2rem;
}
.foot-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
    margin-top: 10px;
}
a.foot {
    text-decoration: none;
    color: var(--fot-col2);
    font-weight: 600;
    font-size: 14px;
    transition: var(--trans2);
}
a.foot:hover {
    color: var(--white-var);
}
.app-foot {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 3px;
}
.foot-item h3 {
    font-size: .85rem;
    color: var(--foot-col);
}
.inp-new {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.inp-new label {
    color: var(--pri-color3);

}
.news-group {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.news-group input {
    padding: 10px;
    border: none;
    outline: none;
    flex-grow: 1;
    width: 100%;
    display: block;
}
.news-group input::placeholder {
    font-size: 12px;
    color: var(--pri-color2);
}
.news-btn {
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--btn-col);
    transition: var(--trans2);
    cursor: pointer;
    color: var(--pri-color3);
    border-radius: 6px;
    font-size: 12px;
}
hr.rule {
    border: none;
    background-color: var(--foot-col3);
    height: 1px;
    margin-block: 3.5rem 1.5rem;
}
.foot-low-cont {
    grid-template-columns: 40% repeat(3, 1fr);
}
.foot-low-item {
    display: flex;
    gap: 15px;
    align-items: center;
}
.foot-low-item p, .foot-low-item a {
    text-decoration: none;
    color: var(--pri-color3);
    font-size: 14px;
}
.foot-low-item a:visited {
    color: var(--pri-color3);
}























@media (max-width: 1100px){
.bar {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }
nav {
        position: fixed;
        background-color: var(--white-var);
        box-shadow: 0 0 3px black;
        top: 0;
        left: -310px;
        width: 300px;
        max-width: 80%;
        height: 100vh;
        justify-content: start;
        display: flex;
        align-self: flex-start;
        transition: .4s linear;
        padding: 15px;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    }
nav.active {
        left: 0;
    }
nav ul {
        overflow: auto;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
nav ul::-webkit-scrollbar {
        display: none;
    }
nav ul li {
        width: 100%;
        text-align: left;
        border-radius: 5px;
        overflow: hidden;
        display: block;
        flex-shrink: 0;
    }

.nav-link {
        flex-shrink: 0;
    }
    .six-one {
        margin-top: auto;
    }
a.nav-link:not(.nav-link6, .nav-link7){
        padding: 10px;
        display: block;
        background-color: rgba(0, 0, 0, 0.203);
    }
.prof-summary {
        display: none;
    }
.prof-summary2 {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    flex-shrink: 0;
}
.user-drop-down2 {
    top: unset;
    bottom: calc(100% + 5px);
}
.spin {
    rotate: -180deg;
}
.prof-summary.active .spin {
    rotate: initial;
}
}



@media(max-width: 930px) {
    .service-cont {
          grid-template-columns: repeat(2, 1fr);
    }
    footer {
    padding: 1.5rem;
}
.footer-cont, .foot-low-cont {
    grid-template-columns:  repeat(2, 1fr);
}
.search-area {
    margin: 20px auto;
    width: 90%;
}
}


@media(max-width: 580px) {
    .user-prof-form {
        width: 100%;
    }
    .service-cont {
        grid-template-columns: 1fr;
    }
     .footer-cont, .foot-low-cont {
    grid-template-columns:   1fr;
}
 }
